.loading {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    text-shadow: var(--outline);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rolling-animation-container {
    width: max(20vh, 200px);
    height: max(20vh, 200px);
    position: relative;
}

.rolling-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: roll 2s infinite linear;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.progress-container {
    text-align: center;
    margin-bottom: 16px;
}

.progress-bar {
    width: 80vw;
    height: 12px;
    margin: 0 auto;
    background-color: #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: #90caf9;
    transition: width 0.5s;
}

.progress-text {
    margin-top: 8px;
    font-size: 0.9rem;
}

/* Карточка квиза */
.quiz-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.question {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.question-translation {
    font-size: 1rem;
    color: #555;
    margin-bottom: 16px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 320px;
    width: 100%;
}

.answer-btn {
    width: 100%;
    background-color: #fce070;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}


.answer-btn.correct {
    background-color: #a7e9af;
}

.answer-btn.wrong {
    background-color: #f4a9a8;
}