<div class="quiz-screen">
    <div class="progress-container" v-if="total > 0">
        <div class="progress-bar">
            <div class="progress-fill" :style="{ width: progressPercent + '%' }"></div>
        </div>
        <p class="progress-text">
            {{ answered }}/{{ total }}
        </p>
    </div>

    <!-- Контент квиза -->
    <div class="quiz-card" v-if="currentQuestion">
        <h2 class="question">{{ currentQuestion.question }}</h2>
        <p class="question-translation">{{ currentQuestion.question_translated }}</p>
        <div class="answers">
            <button
                    v-for="(option, index) in currentQuestion.options"
                    :key="index"
                    class="answer-btn"
                    :class="getAnswerClass(index)"
                    @click="selectAnswer(index)"
                    :disabled="isAnswered"
            >
                {{ option.text }} ({{ option.text_translate }})
            </button>
        </div>
    </div>

    <!-- Если вопросов больше нет -->
    <div class="loading" v-else>
        <p v-if="isFinished">Вы ответили на все вопросы!</p>
        <p v-else>Загрузка вопроса...</p>
    </div>

    <!-- Нижняя панель с кнопками -->
    <footer class="bottom-bar">
        <div class="button-container">
            <button class="back-btn" @click="goBack">Назад</button>
        </div>
    </footer>
</div>