<div class="screen-wrapper">
    <div class="progress-container" v-if="total > 0">
        <div class="progress-bar">
            <div class="progress-fill" :style="{ width: progressPercent + '%' }"></div>
        </div>
        <p class="progress-text">
            {{ answered }}/{{ total }}
        </p>
    </div>

    <div class="quiz-card" v-if="questionData">
        <h2 class="question">{{ questionData.text }}</h2>
        <div class="answers">
            <button
                    v-for="(option, index) in questionData.options"
                    :key="index"
                    class="answer-btn"
                    :class="getAnswerClass(index)"
                    @click="selectAnswer(index)"
                    :disabled="isAnswered"
            >
                {{ option.text }}
            </button>
        </div>
    </div>

    <!-- Анимация загрузки с вращающимся изображением -->
    <div class="loading" v-else>
        <div v-if="isFinished">
            <p>Вы ответили на все вопросы!</p>
        </div>
        <div v-else class="rolling-animation-container">
            <img src="/loader.png" class="rolling-image" alt="Загрузка..." />
        </div>
    </div>

    <button class="back-btn" @click="goBack">Назад</button>
</div>