*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'MyriadPro', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

picture {
    margin: 0;
    padding: 0;
}

button,
a {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}
