:root {
    --light-yellow: #f9d498;
    --yellow: #fac166;
    --white: #fff;
    --sky-blue: #a9cdef;
    --light-blue: #4c6aa6;
    --dark-blue: #173f8e;
    --background-color: #fff4dc;
    --max-button-width: 300px;
    --outline: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
    1px 1px 0 white;
}