h1 {
    font-size: 1.5rem;
}

.main_screen_header {
    justify-self: center;
    align-self: center;
}

.button_block {
    margin-top:auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.hero_image {
    border-radius: 50%;
    width: min(calc(100vw / 3), 150px);
    height: min(calc(100vw / 3), 150px);
}

.hero_image:hover {
    cursor: pointer;
    background-color: var(--yellow);
    transform: scale(1.02);
}

.hero_image:active {
    transform: scale(0.98);
}
