.modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15dvh;
    /*margin-bottom: auto;*/
    gap: 16px;
    width: 100%;
}



@media (pointer: coarse) and (hover: none) and (orientation: landscape) {
    .screen-wrapper {
        display: grid;
        grid-template-areas:
        "choose buttons"
        "level buttons";
        grid-template-columns: 35% 65%;
        grid-template-rows: 20% 80%;
        justify-items: center;
        align-items: center;
    }

    .level {
        grid-area: level;
    }

    .choose-text {
        grid-area: choose;
        margin-left: auto;
        width: 100%;
    }

    .modes {
        grid-area: buttons;
        width: 100%;
        padding-top: 5%;
        margin-top: unset;
    }
}