.vocab-modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}


@media (pointer: coarse) and (hover: none) and (orientation: landscape) {
    .screen-wrapper {
        display: grid;
        grid-template-areas:
        "header buttons";
        grid-template-columns: 35% 65%;
        justify-items: center;
        align-items: center;
    }

    .header {
        grid-area: header;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .vocab-modes {
        grid-area: buttons;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}
